:root {
    --background-color: grey;
    --background-text: white;
    --border-color: black;
}

.hero {
    background-color: var(--background-color);
    color: var(--background-text);
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 5px;
}

.container {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-form label {
    font-weight: bold;
    font-size: 20px;
}

.zip-input {
    margin: 5px 0;
    font-size: 18px;
    padding: 5px;
}

.search-button {
    background-color: #33BDFF;
    color: var(--background-text);
    border-radius: 3px;
    border-style: solid;
    padding: 5px;
    font-size: 20px;
    margin-left: -4px;
}

.saved-zips {
    margin-left: 0;
    margin-top: 5px;
}

.zip-button {
    width: 100%;
    background-color: var(--background-color);
    color: var(--background-text);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
}

.wikipedia {
    border-radius: 10px; 
}

.map-area {
    border-radius: 10px;
}

.news-area {
    border-radius: 10px;
    margin-top: 10px;
}